.profile-container {
    margin: 20px;
}

.card {
    margin-bottom: 20px;
}

h5 {
    font-weight: bold;
}

button {
    margin-top: 10px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 10px;
}
